body{
	font-family: 'PT Sans', sans-serif;
}

.header-login{
	padding-top: 15px;
	padding-bottom: 15px;
}

.header-interna{
	padding: 15px 11px;
}

h1{
	font-family: 'Montserrat', sans-serif;
}

a,p{
	/*font-family: 'Montserrat', sans-serif;*/
	font-family: 'PT Sans', sans-serif;
}

.rm-margin{
	margin: 0;
}

/*CSS TEXTO*/
.text-blue{
	color: #1e3c86;
}

.text-skyblue{
	color: #44aae3;
}

.text-gray{
	color: #9eadb9;
}

.text-white{
	color: #ffffff;
}

.text-black-suave{
	color: #6a6a6a;
}

.font-14{
	font-size: 14px;
}

.font-18{
	font-size: 18px;
}

.font-11{
	font-size: 11px;
}

.font-15{
	font-size: 15px;
}
/*CSS TEXTO*/

.list-vertical{
	list-style: none;
	padding: 0;
	width: 100%;
	/*margin-top: 15px;*/
}

.list-vertical li{
	height: 62px;
	padding: 20px 0px;
	border-bottom: 1px solid #d5d5d5;
	background-image: url(../images/iconos/flecha.png);
	background-repeat: no-repeat;
	background-position: 98% center;
	padding-left: 0px;
	font-size: 14px;
}
.list-vertical li:hover,
.list-vertical li:focus{
		background-color: #dfe6ec;
}
.list-vertical li a:hover,
.list-vertical li a:focus{
	text-decoration: none;
	color: #1e3c86;

}

.ico-descuentos{
	background-image: url(../images/iconos/ico-cupones.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	padding: 11px;
	margin-right: 7px;
}

.ico-noticias{
	background-image: url(../images/iconos/ico-noticias.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	padding: 11px;
	margin-right: 7px;
}

.ico-buscador{
	background-image: url(../images/iconos/ico-buscador.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	padding: 11px;
	margin-right: 7px;
}

.ico-calendario{
	background-image: url(../images/iconos/ico-calendario.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	padding: 11px;
	margin-right: 7px;
}

.back-gray{
	background-color: #dfe6ec;
}

.back-blue{
	background-color: #1e3c86;
	padding: 11px 15px;
}

.back-skyblue{
	background-color: #44aae3;
}

.back-blue a:hover{
	text-decoration: none;
	color: #fff;
}

.menu-lateral{
	border-right: 1px solid #9eadb9;
}

#menu{
	background-image: url(../images/iconos/menu.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	padding: 11px;
}

.flecha-left{
	background-image: url(../images/iconos/flecha-left.png);
	background-position: left;
	background-repeat: no-repeat;
	padding-left: 25px;
}

.conten-form{
	padding: 15px 13px;
}

.conten-form .form-group{
	/*width: 50%;
	display: inline;*/
}

#empresa,
#rubro{
	width: 100%;
}

#empresa,
#rubro{
	border: 1px solid #ccc;
	background: url(../images/iconos/arrow.png) no-repeat 95% center #fff !important;
	height: 32px;
	
}

.footer-interna img,
.footer-interna p{
	vertical-align: middle;
}

.marker{
	background-image: url(../images/iconos/marker.png);
	background-position: left center;
	background-repeat: no-repeat;
	padding: 6px 35px;
}

.link-mapa a:hover{
	text-decoration: none;
	color: #fff;
}

.link-mapa{
	padding: 15px 0px;
	    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -11px;
}
.item-empresa{
	height: 122px;
	border-bottom: 1px solid #ccc;
	overflow: hidden;
	padding-top: 10px;
	padding-bottom: 10px;
	    background: url(../images/iconos/flecha.png) 95% center no-repeat;
}
.item-empresa.invitado{
	background: none;
}
.item-empresa:hover{
	background-color: #DFE6EC;
}
.item-empresa .title-empresa{
	color: #44aae3;
	font-size: 15px;
	font-weight: bold;
}

.btn-noticias{
text-align: center;
font-family: 'Montserrat', sans-serif;
text-decoration: none;
color: #44aae3;
	font-size: 15px;
	font-weight: bold;
}

.btn-noticias:hover{
background-color: #DFE6EC;
	
}


.item-empresa img{
	max-width: 100%;
	text-align: center;
	max-height: 100%;

}
.item-empresa .description-empresa{
color:#848484;
font-size: 14px;
line-height: 1.2;
}
.item-empresa.invitado p{
	color:#848484;
	font-size: 14px;
	margin-bottom: 0;
	line-height: 1.3;
}
#detalle-empresa .item-empresa{
	height: auto !important;
	margin-bottom: 20px;
	border-bottom: none;
	background: none;
}
#detalle-empresa .item-empresa img{
	height: auto;
}
#img-empresa{
	margin-bottom: 20px;
	max-width: 270px;
}
.text-center{
	text-align: center;
}
.icon-go{
	    line-height: 100px;
    font-size: 25px;
    margin-left: -12px;
}
.form-group input, .form-group select{
	width: 100%;
	padding: 5px;
	border:1px solid #bdbebf;
}
.form-group select{
	
	padding: 5px !important;
	}
	footer{
		position: fixed;
		bottom: 0px;
		width: 100%;
		overflow: hidden;
		margin-top: 20px;
	}
.container-fluid{
	overflow: hidden;
}
.loading-panel{
	background: rgba(255,255,255,0.5);
	width: 100%;
	text-align: center;
	
	vertical-align: middle;
	height: 100%;
	position: fixed;
	top: 0;
}
.loading-panel table{
	width: 100%;
	height: 100%;
}
.loading-panel table td{
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
}
.img-container{
	width: 100px;
	height: 100px;
	text-align: center;
	overflow: hidden;
	background: #fff;/*858585*/
	margin:5px;
		line-height: 100px;

}
.main-calendar{
	max-width: 380px;
	margin:auto;
	margin-bottom: 10px;

}
.main-calendar table{
	width: 100%;
	border-collapse: initial;
}
.main-calendar table td{
	padding: 8px 0px;
	color:#8d99a6;
	font-size: 17px;
	border:1px solid #fff;
}
.main-calendar table tr.days-week td{
	color:#1e3c86;
	font-size: 12px;
	font-family: 'Montserrat', sans-serif;
	background: #f7f7fc;
	width: 14.28%;
	border:1px solid #f7f7fc;
}
.main-calendar table tr.month-title  td{
	color:#1e3c86;
	font-size: 21px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	background: #f7f7fc;
		border:1px solid #f7f7fc;
}
.main-calendar table tr  td.today{
	background:#44aae3;
	color:#fff;
}
.calendar-prev{
	cursor: pointer;
}
.calendar-next{
	cursor: pointer;
}
.main-calendar .event{

	border:1px solid #f00;
	border-radius: 5px;
	cursor:pointer;
	
}
.line{
	height: 1px;
	width: 100%;
	background: #e2e2e2;
}
.event-detail{
	width: 100%;
	margin-top: 20px;

}
.item-event-detail{
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;
}
.item-event-detail:last-child{
	border-bottom: none;
}
.item-event-detail .fecha-evento{
font-size: 13px;
color:#44aae3;
		font-family: 'Montserrat', sans-serif;
		text-transform: uppercase;
}
.item-event-detail .name-evento{
font-size: 15px;
color:#44aae3;
		font-family: 'Montserrat', sans-serif;
		text-transform: uppercase;
}

.item-event-detail .description-evento{
font-size: 14px;
color:#848484;
margin-top: 10px;
margin-bottom: 10px;
}
.item-event-detail .precio .p1{
	color:#929292;
	font-size: 10px;
	display: block;
	margin-bottom: 0px;
}
.item-event-detail .precio .price{
	color:#44aae3;
	font-size: 16px;
	font-weight: bold;
	margin-right: 10px;
}
.item-event-detail .precio .reservar{
	padding: 5px 10px;
	background: #44aae3;
	color: #fff;
}
#map-canvas{
	width: 100%;
	height: 100%;


		padding:0;
					position:relative;
					
}
.main-menu{
	display: none;
}
.main-menu ul li{
	padding-left: 10px;
}
.valing{
	
	height: 100%;
	width: 100%;
}
.valing tr td{
	vertical-align: middle;
}
.load-more{
	text-align: center;
	height: 25px;
	padding-top: 5px;
	display: none;
}
.load-more img{
	height: 100%;
}