<?xml version='1.0' encoding='utf-8'?>
<widget id="com.repuestosautoweb.app" version="1.0.22" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Nicco Sabe</name>
    <description>
        Aplicación para solicitud de repuestos online
    </description>
    <author email="info@niccosabe.com" href="http://www.niccosabe.com">
        Web Informática Team
    </author>
    <content src="index.html" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="permissions" value="none" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="android-build-tool" value="gradle" />
    <preference name="phonegap-version" value="cli-7.0.1" />
    <plugin name="cordova-plugin-console" source="npm" spec="~1.0.2" />
    <plugin name="cordova-plugin-network-information" source="npm" spec="~1.2.0" />
    <plugin name="cordova-plugin-whitelist" source="npm" />
    <plugin name="cordova-plugin-device" source="npm" />
    <plugin name="phonegap-plugin-push" spec="^1.8.0" />
    <icon src="www/res/icons/icon.png" />
    <gap:splash src="www/res/screens/screen.png" />
    <icon gap:platform="android" gap:qualifier="ldpi" src="www/res/icons/android/icon-36-ldpi.png" />
    <icon gap:platform="android" gap:qualifier="mdpi" src="www/res/icons/android/icon-48-mdpi.png" />
    <icon gap:platform="android" gap:qualifier="hdpi" src="www/res/icons/android/icon-72-hdpi.png" />
    <icon gap:platform="android" gap:qualifier="xhdpi" src="www/res/icons/android/icon-96-xhdpi.png" />
    <gap:splash gap:platform="android" gap:qualifier="land-ldpi" src="www/res/screens/android/screen-landscape-ldpi.png" />
    <gap:splash gap:platform="android" gap:qualifier="land-mdpi" src="www/res/screens/android/screen-landscape-mdpi.png" />
    <gap:splash gap:platform="android" gap:qualifier="land-hdpi" src="www/res/screens/android/screen-landscape-hdpi.png" />
    <gap:splash gap:platform="android" gap:qualifier="land-xhdpi" src="www/res/screens/android/screen-landscape-xhdpi.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-ldpi" src="www/res/screens/android/screen-portrait-ldpi.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-mdpi" src="www/res/screens/android/screen-portrait-mdpi.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-hdpi" src="www/res/screens/android/screen-portrait-hdpi.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-xhdpi" src="www/res/screens/android/screen-portrait-xhdpi.png" />
    <icon gap:platform="ios" height="60" src="www/res/icons/ios/Icon-60.png" width="60" />
    <icon gap:platform="ios" height="120" src="www/res/icons/ios/Icon-120.png" width="120" />
    <icon gap:platform="ios" height="76" src="www/res/icons/ios/Icon-76.png" width="76" />
    <icon gap:platform="ios" height="152" src="www/res/icons/ios/Icon-152.png" width="152" />
    <icon gap:platform="ios" height="40" src="www/res/icons/ios/Icon-40.png" width="40" />
    <icon gap:platform="ios" height="80" src="www/res/icons/ios/Icon-80.png" width="80" />
    <icon gap:platform="ios" height="57" src="www/res/icons/ios/Icon-57.png" width="57" />
    <icon gap:platform="ios" height="114" src="www/res/icons/ios/Icon-114.png" width="114" />
    <icon gap:platform="ios" height="29" src="www/res/icons/ios/Icon-29.png" width="29" />
    <icon gap:platform="ios" height="58" src="www/res/icons/ios/Icon-58.png" width="58" />
    <icon gap:platform="ios" height="50" src="www/res/icons/ios/Icon-50.png" width="50" />
    <icon gap:platform="ios" height="100" src="www/res/icons/ios/Icon-100.png" width="100" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" launch-external="yes" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="android-targetSdkVersion" value="28" />
        <preference name="android-minSdkVersion" value="19" />
        <resource-file src="google-services.json" target="google-services.json" />
        <config-file parent="/manifest" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.WAKE_LOCK" />
        </config-file>
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <resource-file src="GoogleService-Info.plist" />
    </platform>
    <engine name="ios" spec="~4.4.0" />
</widget>
