<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>269296394294-fldjdt6ipduin3299mubojh3a690ifa8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.269296394294-fldjdt6ipduin3299mubojh3a690ifa8</string>
	<key>API_KEY</key>
	<string>AIzaSyAcB3_5_n2NB4j8p0xjJh7Zo9Ip9PcK8Ho</string>
	<key>GCM_SENDER_ID</key>
	<string>269296394294</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.repuestosautoweb.app</string>
	<key>PROJECT_ID</key>
	<string>repuestosautoweb</string>
	<key>STORAGE_BUCKET</key>
	<string>repuestosautoweb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:269296394294:ios:5ab8f818fad38ada</string>
	<key>DATABASE_URL</key>
	<string>https://repuestosautoweb.firebaseio.com</string>
</dict>
</plist>