 @font-face {
    font-family: "Nexa_Bold";
    src: url(../fonts/Nexa_Bold.otf);
}
 @font-face {
    font-family: "Nexa_light";
    src: url(../fonts/Nexa_Light.otf);
}
html,body {
	/*background: url(../images/back-login.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/
	color: #b3b2b3;
	font-family: "Nexa_light";
	  height:100%;
}

#header {
	/*border-bottom: 2px solid #ffee00;*/
	padding: 19px 0;
}
#header img.bar{
	width: 100%;
	height: 9px;
}


#header #BurgerButton {
	padding-top: 7px;
}

.lista-items .item {
	border: 3px #e6e6e5 solid;
	margin-bottom: 15px;
	padding: 25px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.lista-items .item p {
	font-family: "Nexa_Bold";
	margin-bottom: 0;
	color: #0872ba;
}

.table-responsive {
	border-color: transparent;
	padding-bottom: 15px;
}

#content {
	padding-bottom: 25px;
}

#wrapper-detalle-solicitudes table {
	width: 100%;
}

#wrapper-detalle-solicitudes table > thead {
	border-bottom: 2px solid #e6e6e5;
}

#wrapper-detalle-solicitudes table > thead > tr > th {
	color: #0872ba;
	font-family: "Nexa_Bold";
	padding: 10px;
	text-align: center;
	
}

#wrapper-detalle-solicitudes table > tbody > tr > td {
	color: #b3b2b3;
	padding: 5px;
	text-align: center;
}

.btn-red {
	background: #0872ba;
	color: #fff;
	display: inline-block;
	padding: 10px 15px;
	text-align: center;
	border: none;
	width: 100%;
	font-weight: bold;
	border-radius: 50px;
	margin-top: 20px;
}

#footer {
	border-top: 10px solid #fff;
	color: #b3b2b3;
}

#footer > .text {
	max-width: 320px;
	margin: auto;
	padding: 15px;
}

#footer > .text > p {
	margin: 0;
	display: inline-block;
}

#footer > .text > p > small {
	color: #b3b2b3;
	font-size: 10px;
	margin-right: 10px;
	display: inline-block;
	text-align: center;
}

#footer > .text > p > img {
	vertical-align: top;
    margin-top: 3px;
}

/*clases para el footer */
.relative {
	position: relative;
}

.absolute {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.input-control {
	color: #1a1a1a;
	border: none;
	width: 100%;
	max-width: 100%;
	background: #a4a0a0;
	outline: none;
	padding: 9px 5px;
    box-shadow: 0px 0px 6px #1a1a1a;
}

.preview-container {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 142px;
	height: 112px;
}

.glyphicon {
	cursor: pointer;
}

.text-yellow {
	color: #ffee00;
}

.table-respuesta tr td {
	text-align: left !important;
}


@media (max-width: 399px) {
	.preview-container {
		width: 50%;
		height: 112px;
		float: left;
		margin-right: auto;
		margin-bottom: 15px;
	}
}

@media (min-width: 400px) {
	.preview-container {
		margin-right: 15px;
		max-width: 142px;
	}

	.preview-container,
	.respuesta-container {
		float: left;
		width: 47%;
	}
}
div#wrapper-detalle-solicitudes h3{
	color:#0872ba;
	font-size: 32px;
	text-align: center;
	font-family: "Nexa_Bold";
}
.item .respuesta-container{
	width: 50%;
	float: left;
}
table.table-respuesta td span{
	margin-right: 5px;
	vertical-align: text-bottom;
}
/* .zoom{ background-color: #DDD; height: 100%; margin: auto; overflow: hidden; width: 100%; }
.zoom .media{ bottom: 0; display: block; left: 0; margin: auto; max-height: 100%; max-width: 100%; position: absolute; right: 0; top: 0; 
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; 
}
.transition{
  transition: -moz-transform ease 200ms;
  transition: -ms-transform ease 200ms;
  transition: -o-transform ease 200ms;
  transition: -webkit-transform ease 200ms;
  transition: transform ease 200ms;
} */
.zoom{
	height: 112px;
	text-align: center;
}
.zoom .media{
	height: 100%;
}